.container {
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form label {
    margin-bottom: 1rem;
}

.form input {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.booksList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.bookItem {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
}