.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

.errorMessage {
    color: red;
}

.incomplete {
    border: 1px solid red;
}

.btn {
    background-color: black;
    text-decoration: none !important;
    color: #fff;
}